@model Telemonitoreo.Models.GestanteDataViewModel
<div>
    @Html.TextBoxFor(m => m.GestanteNroDocumento, new { id = "GesNroDocumento", @class = "hidden" })
    @Html.TextBoxFor(m => m.Nombres, new { id = "GesNombres", @class = "hidden" })
    @Html.TextBoxFor(m => m.APaterno, new { id = "GesAPaterno", @class = "hidden" })
    @Html.TextBoxFor(m => m.AMaterno, new { id = "GesAMaterno", @class = "hidden" })
    @Html.TextBoxFor(m => m.GestanteKey, new {id = "GesKey", @class = "hidden"})
</div>